* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f6f7f8;
}

a {
  text-decoration: none;
}

.d_none {
  display: none;
}

.msg-box {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  max-height: 30px;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  border: solid 2px #293646;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.blue-btn-short{
  background-color: #2A3647;
  color: white;
  padding-top: 15px;
  padding-left: 24px;
  padding-bottom: 15px;
  padding-right: 24px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 21px;
}

.blue-btn-short:hover {
  background-color: #29ABE2;;
}

.menu-links {
  color: white;
  text-decoration: none;
}
