* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f6f7f8;
}

a {
  text-decoration: none;
}

input {
  border-radius: 10px;
  border: solid 0.5px;
  border-color: #d1d1d1;
}

.d_none {
  display: none !important;
}

.msg-box {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  max-height: 30px;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  border: solid 2px #293646;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.blue-btn-bold {
  background-color: #2a3647;
  color: white;
  border: none;
  font-weight: bold;
}

.white-btn-bold {
  background-color: white;
  color: #2a3647;
  border: 1px solid;
  font-weight: 700;
}

.blue-btn-bold:hover {
  background-color: #29abe2;
  cursor: pointer;
}

.white-btn-bold:hover {
  color: #29abe2;
  cursor: pointer;
}

.menu-links {
  color: white;
  text-decoration: none;
}

button {
  border: none;
  padding-top: 15px;
  padding-right: 24px;
  padding-bottom: 15px;
  padding-left: 24px;
  border-radius: 8px;
  font-size: 21px;
}

.content {
  display: flex;
  width: 100%;
}

.header-right {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  background-color: #ffffff;
}

.header-content-right {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 48px;
}

.tool-name {
  font-size: 20px;
  font-weight: 400;
  margin-left: 90px;
}

.content-left {
  width: 230px;
  background-color: #293647;
  display: flex;
  flex-direction: column;
}
.content-left img {
  margin-top: 25%;
  height: 120px;
}

.dropbtn {
  background-color: white;
  border-radius: 50%;
  border: solid 3px #293647;
  width: 80px;
  height: 80px;
  color: #29abe2;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2A3647;
  min-width: 160px;
  height: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #f0f0f0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}



#logout-btn {
  position: absolute;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  right: 12px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  opacity: 0.6;
}