* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f6f7f8;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

input {
  border-radius: 10px;
  border: solid 0.5px;
  border-color: #d1d1d1;
}

button {
  border: none;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 8px;
  font-size: 21px;
  cursor: pointer;
}

main {
  margin-left: 60px;
  margin-right: 60px;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-section {
  margin-left: 60px;
  margin-right: 60px;
  max-width: 1920px;
}

article {
  margin-right: 32px;
}

/* Tablets quer / kleine Laptops */

@media (max-width: 600px) {
  button {
    width: 180px;
  }
}

@media (max-width: 430px) {
  main {
    margin: 0;
  }
  
}

