* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f6f7f8;
}

a {
  text-decoration: none;
}

input {
  border-radius: 10px;
  border: solid 0.5px;
  border-color: #d1d1d1;
}

button {
  border: none;
  padding-top: 15px;
  padding-right: 24px;
  padding-bottom: 15px;
  padding-left: 24px;
  border-radius: 8px;
  font-size: 21px;
  cursor: pointer;
}

main {
  margin-left: 90px;
  width: 90%;
  max-width: 1920px;
}
