
html,
body {
  background-color: #ffffff;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* content-right  */
.content-right {
  min-height: 100vh;           
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  height: 100vh;                     
}


.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;          
}


.content-right::-webkit-scrollbar {
  width: 8px;
}

.content-right::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.content-right::-webkit-scrollbar-thumb:hover {
  background: #999;
}



.help-main {
  flex: 1;                      
  background-color: #ffffff;
  width: 100%;

  
  padding: 48px 32px 80px 32px;
  box-sizing: border-box;

  /* Text mittig ausrichten */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.help-wrapper {
  border: none;
  box-shadow: none;

  width: 100%;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.help-headline {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin: 0;
}

.help-link {
  color: #4589ff;
  font-weight: 400;
  text-decoration: none;
}

.help-intro,
.help-paragraph {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  margin: 0;
}


.help-section-headline {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  margin: 0;
}

.help-end-headline {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  margin: 0;
}

.help-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Nummerierte Liste */
.help-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

.help-list-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.help-list-number {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  min-width: 20px;
  color: #000;
}

.help-list-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.help-list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

.help-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

.help-back-btn img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  opacity: 0.8;
  display: block;
}

.help-back-btn img:hover {
  opacity: 1;
}
