.privacy-policy-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    margin-top: 125px;
    margin-left: 90px;
}

.privacy-policy-section h1 {
  font-weight: 700;
  font-size: 61px;
}

.privacy-policy-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.privacy-policy-article span {
    margin-top: 16px;
}