article {
  margin-right: 32px;
}

.privacy-policy-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  margin-top: 110px;
  max-width: 1016px;
  padding-bottom: 100px;
}

.privacy-policy-section h1 {
  font-weight: 700;
  font-size: 61px;
}

.privacy-policy-section h2 {
  font-size: 27px;
  font-weight: 700;
}
.privacy-policy-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.privacy-policy-article span {
  margin-top: 16px;
  color: #374151;
  font-size: 16px;
}


/* Responsive Design */

/* Tablets quer / kleine Laptops */
@media (max-width: 900px) {

  .privacy-policy-section h1 {
  font-size: 47px;
  margin-right: 32px;
}
  
}
