main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 202px);
}

.logo-box-signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 77px;
  height: 202px;
  max-width: 1920px;
}

.sign-up-div {
  display: flex;
  align-items: center;
  gap: 35px;
}

.sign-up-div-mobile {
  display: none;
}

.sign-up-div span {
  font-size: 20px;
  font-weight: 400;
}

.sign-up-div a {
  background-color: #2a3647;
  color: white;
  font-weight: bold;
  padding: 15px 24px;
  border-radius: 8px;
  font-size: 21px;
}

.logo-login {
  width: 100px;
  height: 122px;
  margin-top: 80px;
  margin-left: 72px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out;
}

.loader-img {
  height: 300px;
  width: auto;
  margin-right: 77px;
  animation: zoomOutLeft 5s forwards;
}

.loader-img-mobile {
  display: none;
}

@keyframes zoomOutLeft {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475)
      translate3d(calc(-100vw - 150px), calc(-100vh - 150px), 150px);
  }

  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-10000px, 0, 0);
    transform-origin: right center;
  }
}

.sign-up-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  box-shadow: -1px 0 6px rgba(0, 0, 0, 0.2);
  padding: 32px;
  color: #f6f7f8;
}

.sign-up-box-h1 {
  color: #293647;
  font-weight: 700;
  font-size: 61px;
}

.sign-up-box-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 15px;
  justify-content: space-evenly;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 48px;
}

.signup-input {
  padding: 15px 125px 15px 12px;
}

.checkbox-container {
  padding: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
}

.signup-footer-links-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.footer-links {
  color: #d1d1d1;
  font-weight: 400;
}

.footer-links:hover {
  color: #29abe2;
}

.pivacy-policy-link {
  color: #29abe2;
}

.divider {
  background-color: #29abe2;
  width: 148px;
  height: 3px;
  margin-top: 25px;
}

/* Responsive */

@media (max-width: 900px) {
  main {
    padding-bottom: 35px;
    height: 100vh;
  }

  .logo-box-signup {
    height: 75px;
    margin-bottom: 65px;
  }

  .logo-box-signup img {
    width: 64px;
  }
}

@media (max-width: 660px) {
  main {
    flex-direction: column;
    margin: 0;
  }

  .logo-box-signup {
    margin-left: 38px;
    margin-top: 37px;
    height: 64px;
  }

  .sign-up-div {
    display: none;
  }

  .sign-up-div-mobile {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 35px;
  }

  .sign-up-box {
    width: 286px;
    padding: 0;
  }

  .sign-up-box-h1 {
    font-size: 47px;
    margin-top: 16px;
  }

  .loader {
    background-color: #2a3647;
  }

  .loader-img {
    display: none;
  }

  .loader-img-mobile {
    display: block;
    height: 64px;
    margin-left: 38px;
    margin-top: 37px;
    animation: zoomOutLeft 5s forwards;
  }
}
