main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}

.logo-box-signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 77px;
  height: 202px;
}

.sign-up-div {
  display: flex;
  align-items: center;
  gap: 35px;
}

.sign-up-div-mobile {
  display: none;
}

.sign-up-div span {
  font-size: 20px;
  font-weight: 400;
}

.sign-up-div a {
  background-color: #2a3647;
  color: white;
  border: none;
  font-weight: bold;
  border: none;
  padding-top: 15px;
  padding-right: 24px;
  padding-bottom: 15px;
  padding-left: 24px;
  border-radius: 8px;
  font-size: 21px;
}

.logo-login {
  width: 100px;
  height: 122px;
  margin-top: 80px;
  margin-left: 72px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out;
}

.loader-img {
  height: 300px;
  width: auto;
  margin-right: 77px;
  -webkit-animation-name: zoomOutLeft;
  animation-name: zoomOutLeft;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: ease-in-out;
}

.loader-img-mobile {
  display: none;
}


@keyframes zoomOutLeft {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(calc(-100vw - 150px), calc(-100vh - 150px), 150px);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(calc(-100vw - 150px), calc(-100vh - 150px), 150px);
    background-color: none;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.1) translate3d(-10000px, 0, 0);
    transform: scale(0.1) translate3d(-10000px, 0, 0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
}

.sign-up-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  box-shadow: -1px 0px 6px 0px rgb(0, 0, 0, 0.2);
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  color: #f6f7f8;
}

.sign-up-box-h1 {
  color: #293647;
  font-weight: 700;
  font-size: 61px;
}

.sign-up-box-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 15px;
  justify-content: space-evenly;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 48px;
}

.signup-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 125px;
  padding-left: 12px;
}

.checkbox-container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
  color: #757575;
}

.signup-footer-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 64px;
}

.footer-links {
  color: #d1d1d1;
  font-weight: 400;
}

.footer-links:hover {
  color: #29abe2;
}

.pivacy-policy-link {
  color: #29abe2;
}

.divider {
  background-color: #29abe2;
  width: 148px;
  height: 3px;
  margin-top: 25px;
}

/* Responsive Design */

@media (max-width: 900px) {
  main {
    padding-bottom: 35px;
  }

  .logo-box-signup {
    height: 75px;
    margin-bottom: 65px;
  }

  .logo-box-signup img {
    width: 64px;
  }
}


/* mobile version*/

@media (max-width: 660px) {
  main {
    flex-direction: column;
    margin: 0;
  }

  .logo-box-signup {
    margin-left: 38px;
    margin-top: 37px;
    height: 64px;
  }

  .logo-box-signup img {
    margin: 0;
  }

  .sign-up-div {
    display: none;
  }

  .sign-up-div-mobile {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 35px;
  }

  .sign-up-div-mobile a {
    font-weight: 700;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    border-radius: 8px;
    font-size: 16px;
  }

  .sign-up-box {
    padding: 0;
    width: 286px;
    margin: 0;
  }

  .sign-up-box-h1 {
    color: #293647;
    font-weight: 700;
    font-size: 47px;
    margin-top: 16px;
  }

  .signup-input {
    padding-top: 15px;
    padding-right: 70px;
  }

  .sign-up-box-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
  }

  .sign-up-box-header {
    justify-content: center;
    gap: 24px;
  }

  .divider {
    background-color: #29abe2;
    width: 88px;
    height: 3px;
    margin-top: 25px;
  }

  .checkbox-container {
    margin-top: 24px;
  }

  .sign-up-input-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  background-color: #2A3647;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out;
}

.loader-img {
  display: none;
}

.loader-img-mobile {
  height: 64px;
  margin-left: 38px;
  margin-top: 37px;
  width: auto;
  -webkit-animation-name: zoomOutLeft;
  animation-name: zoomOutLeft;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: all 0.5 ease-in-out;
  display: block;
}

@keyframes zoomOutLeft {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150px;
    width: auto;
  }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(calc(-100vw - 100px), calc(-100vh - 100px), 100px);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(calc(-100vw - 100px), calc(-100vh - 100px), 100px);
    background-color: none;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.1) translate3d(-10000px, 0, 0);
    transform: scale(0.1) translate3d(-10000px, 0, 0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
}
}