.main-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left !important;
  height: calc(100vh - 180px);
}

.summary-title {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 80px;
}

.summary-title h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
}

.summary-title p {
  font-size: 24px;
  font-weight: 400;
  color: #2a3647;
}

.summary-slash {
  height: 48px;
  width: 2px;
  background-color: #29abe2;
  margin-left: 18px;
  margin-right: 18px;
}

.summary-slash-mobile {
  display: none;
}

.summary-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-tasks {
  display: flex;
  flex-wrap: wrap;
  width: 464px;
}

.summary-task-medium {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 16px;
}

.summary-task-medium img {
  height: 60px;
  width: 60px;
  margin-right: 12px;
}

.summary-task-medium:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.029);
  background-color: #293647;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.summary-task-medium:hover p {
  color: white;
  transition: all 0.3s ease;
}

.summary-task-medium:hover img.penIcon {
  content: url("../assets/icons/pen_white.svg");
}

.summary-task-medium:hover img.checkIcon {
  content: url("../assets/icons/check_white.svg");
}

.summary-task-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.summary-tasks h2 {
  font-size: 50px;
}

.summary-tasks p {
  font-size: 18px;
  color: #757575;
}

.summary-name {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.summary-name h3 {
  font-size: 32px;
}

.summary-name h2 {
  font-size: 48px;
  color: #29abe2;
}

.summary-task-big {
  width: 432px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 16px;
  box-shadow: -1px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.summary-task-big:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.029);
  background-color: #293647;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.summary-task-big-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.summary-task-big-left slot {
  display: flex;
  flex-direction: column;
}

.summary-task-big-split {
  height: 90%;
  width: 3px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #a8a8a8;
  border-radius: 12px;
}

.summary-task-big-rigth {
  width: 50%;
  display: flex;
  justify-content: left;
}

.summary-task-big-right h3 {
  margin-bottom: 12px;
}

.summary-task-small {
  width: 122px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  margin: 16px;
  text-align: center;
  box-shadow: -1px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.summary-task-small:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.029);
  background-color: #293647;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.summary-task-small:hover p {
  color: white;
  transition: all 0.3s ease;
}

/* ========== RESPONSIVE ========= */

@media (max-width: 1140px) {
  .summary-name {
    display: none;
  }
}

.summary-name {
  margin-left: 0;
  margin-top: 32px;
  text-align: center;
}

@media (max-width: 820px) {
  .summary-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    margin-top: 28px;
  }
}

/* Smartphones */
@media (max-width: 520px) {
  .main-summary {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    padding: 0;
    margin-bottom: 12px;
  }

  .summary-title {
    flex-direction: column;
    margin-bottom: 24px;
    gap: 8px;
  }

  .summary-slash {
    display: none;
  }

  .summary-slash-mobile {
    display: block;
    height: 3px;
    width: 90px;
    background-color: #29abe2;
  }

  .summary-title h1 {
    font-size: 47px;
  }

  .summary-title p {
    font-size: 20px;
  }

  .summary-tasks {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .summary-tasks h2 {
    font-size: 47px;
  }

  .summary-tasks p {
    font-size: 16px;
  }

  .summary-tasks h3 {
    font-size: 16px;
  }

  .summary-task-medium {
    width: 115px;
    height: 110px;
    margin: 10px;
  }

  .summary-task-medium img {
    width: 40px;
  }

  .summary-task-big {
    width: 265px;
    height: 110px;
    padding: 0px;
    margin: 10px;
    gap: 20px;
  }

  .summary-task-big img {
    width: 40px;
    margin-left: 8px;
  }

  .summary-task-big-split {
    margin-left: 0px;
    margin-right: 0px;
    height: 68px;
  }

  .summary-task-big-left {
    width: auto;
  }

  .summary-name {
    display: none;
  }

  .summary-task-small {
    width: 116px;
    height: 116px;
    padding: 0px;
    margin: 0px;
  }
}
