.main-summary {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.summary-title {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.summary-title h1 {
  font-size: 48px;
  font-weight: 700;
  color: #293647;
}
.summary-title p {
  font-size: 24px;
  font-weight: 400;
  color: #757575;
}
.summary-slash {
  height: 48px;
  width: 2px;
  background-color: #29abe2;
  margin-left: 18px;
  margin-right: 18px;
}
.summary-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-tasks {
  display: flex;
  flex-wrap: wrap;
  width: 464px;
}
.summary-task-medium {
  background-color: #ffffff;
  border-radius: 16px;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 16px;
}
.summary-task-medium img {
  height: 60px;
  width: 60px;
  margin-right: 12px;
}
.summary-task-medium:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.029);
  background-color: #293647;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.summary-task-medium:hover p {
  color: white;
  transition: all 0.3s ease;
}
.summary-task-medium:hover img.penIcon {
  content: url("../assets/icons/pen_white.svg");
}

.summary-task-medium:hover img.checkIcon {
  content: url("../assets/icons/check_white.svg");
}
.summary-task-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.summary-tasks h2 {
  font-size: 50px;
}
.summary-tasks p {
  font-size: 18px;
  color: #757575;
}
.summary-name {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}
.summary-name h3 {
  font-size: 32px;
}
.summary-name h2 {
  font-size: 48px;
  color: #29abe2;
}

.summary-task-big {
  width: 432px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 16px;
}
.summary-task-big:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.029);
  background-color: #293647;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.summary-task-big-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.summary-task-big-left slot {
  display: flex;
  flex-direction: column;
}

.summary-task-big-split {
  height: 90%;
  width: 3px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #a8a8a8;
  border-radius: 12px;
}

.summary-task-big-rigth {
  width: 50%;
  display: flex;
  justify-content: left;
}

.summary-task-big-right h3 {
  margin-bottom: 12px;
}

.summary-task-small {
  width: 122px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.summary-task-small:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.029);
  background-color: #293647;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.summary-task-small:hover p {
  color: white;
  transition: all 0.3s ease;
}
